@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:wght@400;600;700&display=swap');


:root {
  font-family: 'Poppins', 'Reddit Sans' system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FFFAF1;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFAF1; 
}

.homepage-wrapper {
  position: relative; 
  min-height: 100vh;  /* make sure wrapper is tall enough to show the image */
  background-color: #FFFAF1; 
}

.logo {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 120px;
  height: auto;
  object-fit: contain;
  z-index: 100;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;        /* horizontally center content */
  justify-content: flex-start; /* push content to top */
  padding-top: 50px;         /* distance from top of page */
  text-align: center;
  width: 100%;
}

.homepage-buttons {        
  gap: 20px;      
  display: flex;
  justify-content: center;     
  margin-top: 250px; 
}

.frontpage-btn {
  padding: 10px 20px;
  background-color: #ECEEE8; 
  color: #283E4C;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 12px;       /* rounded corners */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, background-color 0.2s;
}

.frontpage-btn:hover {
  background-color: #e0e2dd; 
  transform: translateY(-2px);
}

.centered-title {
  font-family: 'Reddit Sans', sans-serif;
  font-size: 30px;
  color: #283E4C;
  text-align: center;
  position: absolute;
  margin-top: 100px;
}

.centered-text {
  font-family: 'Reddit Sans', sans-serif;
  font-size: 25px;
  color: #283E4C;
  text-align: center;
  position: absolute;
  margin-top: 540px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

